/* styles.css */

/* General styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1, h2 {
  font-family: 'Arial', sans-serif;
}

.logo {
  width: 150px;
}

.hero {
  background-color: #f8f9fa;
}

.bg-light-gray {
  background-color: #f1f1f1;
}

img.img-fluid {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #343a40;
  color: white;
}

footer img.footer-icon {
  width: 40px;
  margin: 0 10px;
}

/* Responsive styling */
@media (min-width: 768px) {
  .order-md-1 {
      order: 1;
  }
  .order-md-2 {
      order: 2;
  }
}

/* Navbar styling */
.navbar-toggler {
  background-color: #343a40;
}

.navbar-toggler-icon {
  background-image: url('https://img.icons8.com/ios-filled/50/ffffff/menu.png');
}

